.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.foto1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/2dragon.jpg);
  background-size: cover;
  background-position: center;
  }

  .textoENfoto1 {
    color: rgb(242, 236, 236);
    text-align: center;
    text-decoration: solid;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    position: relative;
    top: 50px;  
  }

.foto2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/3cciaficc.jpg);
  background-size: cover;
  background-position: center;
}

.textoENfoto2 {
  color: rgb(242, 236, 236);
  text-align: center;
  text-decoration: solid;
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  position: relative;
  top: 100px;  
  left: 400px;
}


.foto3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/4realismo.jpg);
  background-size: cover;
  background-position: center;
}

.textoENfoto3 {
  color: rgb(100, 130, 206);
  text-align: center;
  text-decoration: solid;
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  position: relative;
  top: 250px;  

  }
/*FOOTER*/
.pie-pagina{
    background-color: #d2b68a;
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 25px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .bloque h2{
    color: #222d52;
    margin-bottom: 15px;
    font-size: 18px;
}
.pie-pagina .grupo-1 .bloque p{
    color: #222d52;
    margin-bottom: 5px; 
    font-size: 14px; 
}

.fa-brands{
    border-radius: 100px;
    color: #222d52;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    
}

.fa-brands:hover {
    color: #F1FADA;
}


.pie-pagina .grupo-2{
    background-color: #222d52;
    padding: 10px ;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-1 .contacto {
    background-color: #d2b68a;
    text-align: left; 
    color: #222d52;
    padding: 10px 3px;
}

.pie-pagina .grupo-1 .contacto h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr; 
    }
    
    .fa-brands {
        font-size: 24px; 
    }
    
    .pie-pagina .grupo-1 .contacto {
        text-align: center; 
    }
}
