* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  height: 100%;
}

body, header, main, footer {
  border: 3px black solid;
  min-height: 50px;
  margin: 0.5rem;
  min-width: 400px;
}

body {
  background-image: url(imagenes/fondo\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: specialelite, 'Courier New', Georgia, monospace;
}

header {
  background-color: black;
  box-shadow: 0 0 0.5rem  rgb(83, 78, 76 /50%);
}

.header-logo {
  width: auto;
  display: inline-block;
}

.header-menubar {
  left: auto;
  position: relative;
  top: auto;
  width: auto;
  display: inline-block;
  margin: 1rem;
  border: 5px red solid;
  justify-content:right ;
}

.header-menubar ul {
  list-style: none;
}

.header-menubar li {
  font-weight: 700;
  padding: 1rem;
  margin-right: 2rem;
  background-color: black;
  font-size: 1.3rem;
  /*float HACE Q LOS ELEMENTOS NO SE COMPORTEN 'EN BLOQUE' dejan de estar uno debajo del otro
  */
  float: right;
  /*ext-align: right;*/
}

.header-menubar a {
  text-decoration: none;
  color: aliceblue;
}


main {
  min-height: 200px;
  overflow: auto;
}

main>div {
  border: 2px greenyellow solid;
  min-height: 180px;
  margin: 0.5rem;
  height: auto;
  float: left;
  width: 80%;
}

/*
main>article img {
 float: left;
}
*/

main>article {
  border: 20 px magenta solid;
}

main>p {
  font-stretch: semi-expanded;
  font-weight: 700;
  /*no funciona el margin left- ver con div o section*/
  padding: 10px;
  padding-left: 10px;
  text-align: justify;
}

#texto{
  display: inline-block;
  vertical-align: top;
  padding: 3rem;
  text-align: justify;
}

img {
  float: left;
  width: ;
  height: ;
  padding: 3rem;

}

main>aside {
  border: 2px blue solid;
  min-height: 180px;
  min-width: 15%;
  margin: 0.5rem;
  float: right;
  width: auto;
}

.secciones {ou
  border: 2px grey solid;
  min-height: 50px;
  margin: 0.5rem;
}

.secciones article {
  border: 2px purple solid;
  margin: 0.5rem;
  min-height: 20px;
}

#titulo-genero {
  border: 2px red solid;
  font-family: specialelite, 'Courier New', Georgia, monospace;
  text-align: center;
  word-spacing: 10px;
}